@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {


  :root  {
    --background: 169 24% 95%;
    --foreground: 169 5% 0%;
    --card: 169 24% 90%;
    --card-foreground: 169 5% 10%;
    --popover: 169 24% 95%;
    --popover-foreground: 169 95% 0%;
    --primary: 169 40.6% 46.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 24% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 131 24% 85%;
    --muted-foreground: 169 5% 35%;
    --accent: 131 24% 80%;
    --accent-foreground: 169 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 169 5% 90%;
    --border: 169 24% 50%;
    --input: 169 24% 18%;
    --ring: 169 40.6% 46.9%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 169 24% 5%;
    --foreground: 169 5% 90%;
    --card: 169 24% 0%;
    --card-foreground: 169 5% 90%;
    --popover: 169 24% 5%;
    --popover-foreground: 169 5% 90%;
    --primary: 169 40.6% 46.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 24% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 131 24% 15%;
    --muted-foreground: 169 5% 60%;
    --accent: 131 24% 15%;
    --accent-foreground: 169 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 169 5% 90%;
    --border: 169 24% 18%;
    --input: 169 24% 18%;
    --ring: 169 40.6% 46.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
